# Node dependencies
node_modules/
node-dist/
node.zip

# Build outputs
dist/
dist-ssr/
*.apk
*.aab
*.idsig

# Local environments and temp files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.bubblewrap/
.gradle/
twa-app/.gradle/
twa-app/build/
twa-app/app/build/

# IDE/Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
.DS_Store

# Keystores and private keys
*.keystore
*.jks
